
租用能量, 转账0手续费🎉
购买能力比直接转账消耗TRX 最高可节省87%的手续费
➖➖➖➖➖➖➖➖➖➖➖
对方地址有u时候 需要消耗 32000 能量
对方地址无u时候 需要消耗 64000 能量

可根据实际情况进行调整
<b>租用时长：</b>{{.RentDuration}}
<b>能量数量：</b>{{.RentEnergy}} (可转帐 {{count .RentEnergy}}次)
<b>订单金额：</b>≈ {{.CastTRX}} TRX
<b>当前时间：</b>{{format .CurrentTime}}
➖➖➖➖➖➖➖➖➖➖➖

<b>调整租用场景数值:</b>