能量接收地址：
<code>{{.RentAddress}}</code>
波场转账手续费抵扣套餐1小时起售
🌟购买后直接免TRX消耗

可根据实际情况进行调整
<b>租用时长：</b>{{.RentDuration}}
<b>能量数量：</b>{{.RentEnergy}} (约转帐 {{count .RentEnergy}}次)
<b>订单金额：</b>≈ {{.CastTRX}} TRX
<b>当前时间：</b>{{format .CurrentTime}}
➖➖➖➖➖➖➖➖➖➖➖
调整租用场景数值: