此订单10分钟内有效，过期后请重新生成订单。
➖➖➖➖➖➖➖➖➖➖
<b>转账地址</b>: <code>{{.Address}}</code> (TRC-20)
<b>转账金额</b>: <code>{{.Amount}}</code> TRX ‼️
➖➖➖➖➖➖➖➖➖➖
请在 {{format .ExpiredAt}} 时间内完成支付 ‼️
请注意转账金额务必与上方的转账金额一致，否则无法自动到账
支付完成后, 请等待1分钟左右查询，自动到账 ~